.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

input{
  border-radius: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
}

/*Alert divs*/
.alert-danger,
.alert{
  background-color: rgb(212, 59, 88);
  color: whitesmoke;
  border-radius: 15px;
}

/*General buttons styling*/
.color-scheme-buttons{
  font-family: inherit;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  background-color: rgb(212, 59, 88);
  color: #fff;
  border-radius: 5px;
}

.color-scheme-buttons:hover{
  background-color: rgb(173, 46, 70);
  box-shadow: 0px 0px 1px 1px rgb(185, 184, 184, 0.6);
}

/* Login page */
#contrasena, #username {
  border-radius: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  color: rgb(212, 59, 88);
}

#imagenLogin{
  border-radius: 15px;
}
/*NAVBAR section*/
#dropdownMenuButton{
  border: hidden;
  background-color: #343a40;
  padding: 1px;
}

#dropdownMenuButton:hover{
  background-color: rgb(212, 59, 88);
}

.dropdown-menu{
  background-color: rgb(212, 59, 88);
  border: solid 1px #343a40;
  border-radius: 5px;
}

.dropdown-divider{
  border-top: 1px solid rgb(173, 46, 70);
}

.dropdown-item{
  color: whitesmoke;
}

.dropdown-item:hover{
  background-color: #343a40;
  color: whitesmoke;
}

#cerrar-sesion{
  font-size: 0.8em;
  text-align: center;
}

/*Products page*/

#search-product{
  border-radius: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid rgb(185, 184, 184, 0.6) 1px;
  margin-bottom: 5px;
  padding: 10px;
}

.productInfo {
  position: relative;
  margin-bottom: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
  padding: 15px;
}

.priceRangeContainer{
  width: 50%;
}

a.sameStyling{
  color: #212529;
}
a.sameStyling:hover {
  color: #fff;
  text-decoration: none;
}

.product-img {
  width: 100%;
  border-radius: 15px;
  margin: auto 15px auto 0px;
}

div.productInfo:hover{
  background-color: rgb(212, 59, 88);
  color: #fff;
}

.product-name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.product-cost {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.product-description {
  text-align: left;
}

.product-sold-count {
  position: absolute;
  right: 10px;
  bottom: 0;
  text-align: right;
  font-size: 12px;
}

/* product info page */
#product-info-page{
  position: relative;
  margin-top: 20px;
  box-sizing: content-box;
  margin-bottom: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
  padding: 15px;
}

.main-img-info{
  width: 25%;
}

.soldcount{
  font-size: 12px;
  font-style: italic;
}

.dollar-green{
  color: rgb(14, 109, 14);
}

.buy-me {
  position: relative;
  left: -10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin-left: 0;
}

.product-description{
  font-size: 15px;
  text-align: justify;
}

.img-container{
  width: 60%; 
}

.carousel-indicators li{
  background-color: rgb(212, 59, 88); 
}

.carousel-img{
  border-radius: 15px;
}

.product-category{
  font-size: 14px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

/* Comment section*/
.user-comment{
  box-sizing: content-box;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
  padding: 15px;
  font-size: 0.8em;
  margin-bottom: 10px;
  line-height: 1px;
}

.prod-coment{
  margin: 20px 0 20px 0;
}

.coment{
  font-size: 16px;
  line-height: normal;
}

#new-comment {
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
}

.checked {
  color: orange;
}

/*Related products section */
.relat-prod-container{
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
  padding: 15px;
  width: 45%;
}

.related-product-img{
  width: 35%;
  border-radius: 15px;
  float: left;
  margin-right: 10px;
}

.related-product-name{
  font-weight: bold;
  font-size: 20px;
}

.related-product-cost{
  font-style: italic;
}

/*Cart section*/
.cartProductInfo {
  position: relative;
  box-sizing: content-box;
  margin-bottom: 5px;
  border: solid rgb(185, 184, 184, 0.6) 1px;
  border-radius: 10px;
  padding: 15px;
}

.cart-product-img{
  float: left;
  width: 25%;
  border-radius: 15px;
  margin: auto 15px auto 0px;
}

.formatoTotal{
  margin: 20px 0 20px 0;
}

.articleQuantity{
  width: 50px;
}

.articleQuantity:hover{
  color: rgb(212, 59, 88);
  border-color:  rgb(212, 59, 88) ;
}

.totalArticulo, #subtotal, #totalEnvio{
  color: rgb(212, 59, 88);
}

#total{
  font-weight: bold;
  color: rgb(212, 59, 88);
}

.quitarCarrito{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

#proceedToBuy{
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
